@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&display=swap');

*{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

$blue: #29d9d5;
$black: #111;
$white: #fff;
$light-color: rgb(210, 210, 210);
$bg-color: #222;
$black-bg:rgba(17,17,17,.7);
$border:.2rem solid $blue;

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;

    &::-webkit-scrollbar{
        width: 1rem;

    }

    &::-webkit-scrollbar-track{
        background: $black-bg;
        
    }

    &::-webkit-scrollbar-thumb{
        background: $blue;
        
    }
}

section{
    padding: 3rem 9%;
}

body{
    background: $black;
    overflow-x: hidden;

}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: $blue;
    border: $border;
    border-radius: 5rem;
    cursor: pointer;
    background: none;

    &:hover{
        background: $blue;
        color: $black;
    }

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $bg-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;

    .navbar a{
        font-size: 1.7rem;
        color: $light-color;
        display: inline-block;
        margin: 0 1rem;

        &:hover{
            color: $blue;
        }
    }

    .btn{
        margin-top: 0;
    }    
}

.logo{
    font-size: 2.5rem;
    color: $white;
    font-weight: bolder;

    i{
        color: $blue;
        padding-right: .5rem;
    }
}

#menu-btn{
    font-size: 2.5rem;
    color: $white;
    cursor: pointer;
    display: none;
}

// HOME SECTION STARTS
.home{
    margin: 0 auto;
    // margin-top: 9rem; //change the value to 0 or comment to remove the margin
    // width: 90%; //change the model to view in full screen
    width: 100%; //change the model to view in full screen
    border-radius: 1rem;
    background: linear-gradient($black-bg, $black-bg), url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;

    .content{
        text-align: center;

        span{
            font-weight: bolder;
            color: transparent;
            -webkit-text-stroke: .1rem $white;
            font-size: 4vw;
            display: block;
        }

        h3{
            font-size: 6vw;
            color: $white;
        }

        p{
            max-width: 60rem;
            margin: 1rem auto;
            font-size: 1.4rem;
            color: $light-color;
            line-height: 2;

        }
    }

}
// HOME SECTION ENDS



















// BREAKPOINTS

@media(max-width: 991px){

    html{
        font-size: 55%; 
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
}

@media(max-width: 769px){

    #menu-btn{
        display: inline-block;
    }

    .header{

        .navbar{
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background: $bg-color;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

            }

            a{
                margin: 2rem;
                font-size: 2rem;
                display: block;
            }
        }
    }

    .home{
        margin-top: 10rem;

        .content{
            span{
                font-size: 8vw;
            }

            h3{
                font-size: 9vw;
            }
        }

    }
}


@media(max-width: 450px){
    html{
        font-size: 50%;

    }

}
// BREAKPOINTS
